@model LibreriaJose.Models.Data.Libro
if(Model!=null){
<tr>
<div>
    @Model.Titulo
</div>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ISBN }) |
        @Html.ActionLink("Details", "Details", new { id = Model.ISBN }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ISBN })
    </td>
</tr>
}
