@model LibreriaJose.Models.Data.Formato

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Estás seguro que quieres borrar este formato?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a Inicio", "Index")
        </div>
    }
</div>
